:root {
  --primary-color: #ffbb00;
  --dark-color: #141414;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  position: relative;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-nav {
  max-width: 75%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  z-index: 2;
  margin-top: 3rem;
  text-transform: uppercase;
  background: #999;
}

.showcase-nav p {
  color: #000;
  padding: 10px;
  font-size: 0.8rem;
}

.showcase-nav h3 {
  color: #000;
}

.showcase-nav p:hover {
  color: #ffffff;
}
/* begin */
.courses {
  margin-top: 2rem;
  border-bottom: 3px solid #3d3d3d;
}

.courses .container #draft {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.courses .container .draft-content-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.courses .container .draft-content-1 img {
  width: 80%;
  height: 100%;
}

.courses .container .draft-content-1 p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;'p;9ol'
}

/* end */

.courses {
  margin-top: 2rem;
  border-bottom: 3px solid #3d3d3d;
}

.courses .container #const {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.courses .container .garment-construction-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.courses .container .garment-construction-1 img {
  width: 100%;
  height: 100%;
}

.courses .container .garment-construction-1 p {
  width: 80%;
  height: 50%;
  font-size: 1.5rem;
}

.courses {
  margin-top: 2rem;
  border-bottom: 3px solid #3d3d3d;
}

.courses .container #illus {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.courses .container .fashion-illustration-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.courses .container .fashion-illustration-1 img {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.courses .container .fashion-illustration-1 p {
  width: 80%;
  height: 80%;
  font-size: 1.5rem;
}

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer .footer-base {
  padding: 20px;
  margin-top: 5px;
  color: #ffffff;
  background: var(--primary-color);
  text-align: center;
}

.footer .social-menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer .social-menu ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.footer .social-menu ul li .fa {
  font-size: 1.5rem;
  line-height: 0.5rem;
  transition: 0.6s;
  color: #000;
}

.footer .social-menu ul li .fa:hover {
  color: #ffffff;
}

.footer .social-menu ul li a {
  position: relative;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.footer .social-menu ul li a:hover {
  transform: translate(0, -10px);
}

.footer .social-menu ul li:nth-child(1) a:hover {
  background-color: #1877f2;
}

.footer .social-menu ul li:nth-child(2) a:hover {
  background-color: #1da1f2;
}

.footer .social-menu ul li:nth-child(3) a:hover {
  background-color: #c32aa3;
}

.footer p {
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.footer h4 {
  margin-top: 0.3rem;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

@media (max-width: 960px) {
  .showcase-nav {
    font-size: 0.5rem;
  }

  .courses .container #draft {
    font-size: 2rem;
  }

  .courses .container .draft-content-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #const {
    font-size: 2rem;
  }

  .courses .container .garment-construction-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #illus {
    font-size: 2rem;
  }

  .courses .container .fashion-illustration-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 700px) {
  .showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    z-index: 2;
  }

  .courses .container #draft {
    font-size: 2rem;
  }

  .courses .container .draft-content-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #const {
    font-size: 2rem;
  }

  .courses .container .garment-construction-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #illus {
    font-size: 2rem;
  }

  .courses .container .fashion-illustration-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .showcase-nav {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  .footer {
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    z-index: 2;
  }

  .courses .container #draft {
    font-size: 2rem;
  }

  .courses .container .draft-content-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #const {
    font-size: 2rem;
  }

  .courses .container .garment-construction-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .courses .container #illus {
    font-size: 2rem;
  }

  .courses .container .fashion-illustration-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .showcase-nav {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  .footer {
    max-width: 100%;
  }
}
